body {
  background-color: #ebd5d5;
}

.wrapper {
  margin: 0 auto;
}

.weather-app {
  max-width: 1000px;
  max-height: 700px;
  margin: 150px auto;
  padding: 100px 150px 100px 150px;
  background-color: #f5f5f5;
  border-radius: 40px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #685454;
  font-style: normal;
  line-height: 75px;
  margin-bottom: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  color: #685454;
}

.digits {
  font-weight: bold;
  color: #ea8a8a;
}

.today-description {
  text-transform: capitalize;
}

.main-icon {
  display: block;
  font-size: 100px;
  color: #ea8a8a;
  float: right;
}

#search-input-value {
  width: 500px;
  height: 40px;
  background: rgba(235, 213, 213, 0.8);
  box-shadow: inset 0px 5px 10px #c9afaf;
  border-radius: 7px;
  border-style: none;
  padding-left: 20px;
}

#search-button {
  background-color: #ea8a8a;
  border-style: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  color: #f5f5f5;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  float: right;
}

.right-side {
  float: right;
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}

.active {
  cursor: default;
  color: #685454;
}

.active:hover {
  text-decoration: none;
  color: #685454;
}

a {
  color: #ea8a8a;
}

a:hover {
  color: #c9afaf;
  text-decoration: none;
}
