.wrapper {
  margin: 0 auto;
}

.weather-app {
  max-width: 600px;
  margin: 150px auto;
  padding: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #685454;
  font-style: normal;
  line-height: 75px;
  margin-bottom: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  color: #685454;
}

.digits {
  font-weight: bold;
  color: #ea8a8a;
}

.today-description {
  text-transform: capitalize;
}
